<h1 style="color:SlateBlue;">Isabelles Song List</h1>

<% @songs.each do |song| %>
  <h2 style="color:Violet;"><b>Title: </b><%= song.title %></h2>
  <p style="color:MediumSeaGreen;"><b>Play Count: </b><%= song.play_count %></p>
<% end %>