<h1 style="color:SlateBlue;"><%= @song.title %> Song Info</h1>
<p style="color:MediumSeaGreen;"><b>Length: </b><%= @song.length %></p>
<p style="color:MediumSeaGreen;"><b>Play Count: </b><%= @song.play_count %></p><br/>

<%= link_to "Take Me Back", songs_path %>
